﻿@model AddEditLocationZonesModel


<form class="form-horizontal form-condensed" ng-controller="RepeaterCtrl">
	<table class="table table-striped table-condensed">
		<tbody>
			<tr ng-repeat="line in repeaterLines">
				<td>
					<fieldset><legend>Location Zone # {{$index + 1}}</legend></fieldset>
					@if (!Model.Adding)
					{
						<div class="control-group">
							<label class="control-label">Location Zone</label>
							<div class="controls">
								<select
									class="validate[required]"
									required
									ng-change="validateSelection(preload.repeaterData.LocationZones, $index, 'Id', 'Name', true);"
									ng-model="line.Id"
									ng-options="locationZone.Id as locationZone.Name for locationZone in preload.repeaterData.LocationZones | orderBy:'Name'">
									<option disabled="disabled" selected="selected" value="">- Select -</option>
								</select>
								<input name="model[{{$index}}][Id]" type="hidden" value="{{line.Id}}" />
							</div>
						</div>
					}
					<div class="control-group">
						<label class="control-label">Name</label>
						<div class="controls">
							<input class="validate[required]" name="model[{{$index}}][Name]" required type="text" ng-model="line.Name" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">External Systems</label>
						<div class="controls">
							<div class="external-system-group">
								<div>
									<strong><small>Unisys LMS</small></strong>
								</div>
								<label class="control-label">Zone Id.</label>
								<div class="controls">
									<input
										name="model[{{$index}}][LmsZoneId]"
										type="text"
										ng-model="line.LmsZoneId" />
								</div>
								<label class="control-label"></label>
								<div class="controls">
									<label class="checkbox">
										<input
											name="model[{{$index}}][AutoUpdateLms]"
											type="checkbox"
											value="true"
											ng-model="line.AutoUpdateLms" />
										Automatically Update LMS
									</label>
								</div>
								<label class="control-label">Update Delay</label>
								<div class="controls">
									<div class="input-append">
										<input
											class="validate[min[0],max[3600]] span2"
											name="model[{{$index}}][LmsUpdateDelaySeconds]"
											type="text"
											ng-model="line.LmsUpdateDelaySeconds" />
										<span class="add-on"><small>(seconds)</small></span>
									</div>
								</div>
							</div>
							<div class="external-system-group">
								<div>
									<strong><small>ActiveIdentity Envoy</small></strong>
								</div>
								<label class="control-label">Zone Id.</label>
								<div class="controls">
									<input
										name="model[{{$index}}][EnvoyZoneId]"
										type="text"
										ng-model="line.EnvoyZoneId" />
								</div>
							</div>
						</div>
					</div>
				</td>
				<td>
					<fieldset>
						<legend class="text-right">
							<button class="btn btn-info" type="button" ng-click="removeLine($index); preload.methods.createNewControls();">
								<span class="icon-minus" ng-hide="repeaterLines.length == 1"></span>
								<span ng-show="repeaterLines.length == 1">(clear)</span>
							</button>
						</legend>
					</fieldset>
					<div ng-repeat="point in line.Points">
						<div class="control-group">
							<label class="control-label"><strong>Point # {{$index + 1}}</strong></label>
							<div class="controls">
								<div class="input-prepend">
									<span class="add-on">X</span>
									<input
										class="validate[required] span2"
										name="model[{{$parent.$index}}][Points][][X]"
										required
										type="text"
										ng-model="point.X" />
								</div>
								<div class="input-prepend">
									<span class="add-on">Y</span>
									<input
										class="validate[required] span2"
										name="model[{{$parent.$index}}][Points][][Y]"
										required
										type="text"
										ng-model="point.Y" />
								</div>
								<button class="btn btn-info btn-mini" type="button" ng-click="removeLine($index, line.Points); preload.methods.createNewControls();">
									<span class="icon-minus-sign"></span>
								</button>
							</div>
						</div>
					</div>
					<div>
						<button class="btn btn-info btn-mini" type="button" ng-click="addLine(line.Points); preload.methods.createNewControls();">
							<span class="icon-plus-sign"></span>
						</button>
						<em>(points)</em>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2"><button class="btn btn-info btn-small" type="button" ng-click="addLine(); preload.methods.createNewControls();"><span class="icon-plus"></span></button></td>
			</tr>
		</tbody>
	</table>
	@if (Model.Adding)
	{
		<div class="alert alert-success">
			<small>
				<strong>Please note:</strong><br />
				If a Zone is changing its location, dimensions, or shape significantly,<br />
				consider Discontinuing the existing Zone, and creating a new one to replace it.
			</small>
		</div>
	}
	<div class="form-actions">
		<button class="btn btn-primary shadow" type="submit">@(Model.Adding ? "Create" : "Save") Location Zones</button>
		<button id="cancel" class="btn shadow" type="button">Cancel</button>
	</div>
</form>


<script type="text/javascript">
	(function () {
		window.preload = {
			defaults: {
				line: { Points: [{}, {}, {}, {}] }
			},
			repeaterData: JSON.parse('@Model.AsJson()'),
			methods: {
				createNewControls: function () {
				}
			}
		};

		franwell.ng.recompileDocument();
		window.preload.methods.createNewControls();
	})();
</script>