﻿@{
	ViewBag.Title = "Location Zones";
}


<canvas id="zones-canvas" class="centered" style="display: block;" width="1000"></canvas>
<div id="locationzones-grid"></div>


@section JS {
	<script src="~/Public/javascripts/app/map-display.js" type="text/javascript"></script>

	<script type="text/javascript">
		var $locationZonesGrid = $('#locationzones-grid'),

			refreshZonesCanvas = function () {
				var zonesCanvasElement = $('#zones-canvas').get(0);

				franwell.submitData({
					url: '@Url.ActionApi("GetList", "LocationZonesApi")',
					success: function (data) {
						window.locationData.AxisDirection = '@User.CurrentLocation.AxisDirection';
						window.locationData.OriginLocation = '@User.CurrentLocation.OriginLocation';
						window.locationData.Zones = data;

						var redrawMap = function () { franwell.mapDisplay.prepareMapZones(zonesCanvasElement, window.locationData); };

						franwell.mapDisplay.setCanvasDimensions(zonesCanvasElement, locationData);
						locationData.panZoomCanvasContext = franwell.mapDisplay.getPanZoomCanvasContext(zonesCanvasElement, redrawMap);
						redrawMap();
					}
				});
			},

			buttonAdd = franwell.kendo.toolbarButton('Add Location Zones', function () {
				franwell.kendo.modalWindow(
					'Add Location Zones', // title
					'@Url.Action("AddEdit", "AdminLocationZones")', // partial view URL
					{ // form query
						isModal: true,
						adding: true
					},
					null, // form element selector
					'@Url.ActionApi("Create", "LocationZonesApi")', // submit URL
					$locationZonesGrid, // $grid
					refreshZonesCanvas, // success
					null, // openHandler
					null, // requestType
					franwell.serializeFormList); // serializerFn
			}),
			buttonEdit = franwell.kendo.toolbarButton('Edit Location Zones', function () {
				var selectedIds = $locationZonesGrid.franwellGridIds('Id');

				franwell.kendo.modalWindow(
					'Edit Location Zones', // title
					'@Url.Action("AddEdit", "AdminLocationZones")', // partial view URL
					{ // form query
						isModal: true,
						adding: false,
						ids: selectedIds
					},
					null, // form element selector
					'@Url.ActionApi("Update", "LocationZonesApi")', // submit URL
					$locationZonesGrid, // $grid
					refreshZonesCanvas, // success
					null, // openHandler
					null, // requestType
					franwell.serializeFormList); // serializerFn
			}),

			buttonDiscontinueHandler = function (e) {
				e.preventDefault();

				var dataItem = this.dataItem($(e.currentTarget).closest('tr'));

				if (!confirm('Are you sure you wish to discontinue "' + dataItem.Name + '"?')) {
					return;
				}

				franwell.submitData({
					url: '@Url.ActionApi("Archive", "LocationZonesApi")',
					data: { '': dataItem.Id },
					success: function () {
						window.locationZonesDataSource.read();
						refreshZonesCanvas();
					}
				});
			},

			toolbar = franwell.kendo.toolbar([[
				buttonAdd,
				buttonEdit
			]]),
			
			extendedColumns = franwell.gridcolumns.locationZones.slice();

		
		window.locationData = {};

		extendedColumns.push({
			command: { text: 'Discontinue', click: buttonDiscontinueHandler },
			attributes: { 'class': 'text-center text-size-80' },
			width: '1px'
		});

		window.locationZonesDataSource = franwell.kendo.serverDataSource({
			url: '@Url.ActionApi("GetPagedList", "LocationZonesApi")',
			model: franwell.gridschemas.locationZones
		});
		$locationZonesGrid.franwellGrid({
			dataSource: window.locationZonesDataSource,
			columns: extendedColumns,
			toolbar: toolbar
		});
		window.locationZonesDataSource.read();
		refreshZonesCanvas();
	</script>
}