﻿@{
	ViewBag.Title = "Locations";
	ViewBag.HideLocations = true;
}


@section Css {
	<style type="text/css">
		.axis-display,
		.origin-display {
			border: 1px solid #000;
			display: inline-block;
			line-height: 14px;
			padding: 0 2px 2px 3px;
			vertical-align: middle;
		}
	</style>
}


<div id="locations-grid"></div>


@section JS {
	<script type="text/javascript">
		(function () {
			var $locationsGrid = $('#locations-grid'),

				buttonAdd = franwell.kendo.toolbarButton('Add Locations', function () {
					franwell.kendo.modalWindow(
						'Add Locations', // title
						'@Url.Action("AddEdit", "AdminLocations")', // partial view URL
						{ // form query
							isModal: true,
							adding: true
						},
						null, // form element selector
						'@Url.ActionApi("Create", "LocationsApi")', // submit URL
						$locationsGrid, // $grid
						null, // success
						null, // openHandler
						null, // requestType
						franwell.serializeFormList); // serializerFn
				}),
				buttonEdit = franwell.kendo.toolbarButton('Edit Locations', function () {
					var selectedIds = $locationsGrid.franwellGridIds('Id');

					franwell.kendo.modalWindow(
						'Edit Locations', // title
						'@Url.Action("AddEdit", "AdminLocations")', // partial view URL
						{ // form query
							isModal: true,
							adding: false,
							ids: selectedIds
						},
						null, // form element selector
						'@Url.ActionApi("Update", "LocationsApi")', // submit URL
						$locationsGrid, // $grid
						null, // success
						null, // openHandler
						null, // requestType
						franwell.serializeFormList); // serializerFn
				}),

				buttonDiscontinueHandler = function (e) {
					e.preventDefault();

					var dataItem = this.dataItem($(e.currentTarget).closest('tr'));

					if (!confirm('Are you sure you wish to discontinue "' + dataItem.Name + '"?')) {
						return;
					}

					franwell.submitData({
						url: '@Url.ActionApi("Archive", "LocationsApi")',
						data: { '': dataItem.Id },
						success: function () {
							window.locationsDataSource.read();
						}
					});
				},

				toolbar = franwell.kendo.toolbar([[
					buttonAdd,
					buttonEdit
				]]),

				extendedColumns = franwell.gridcolumns.locations.slice();


			extendedColumns.push({
				command: { text: 'Discontinue', click: buttonDiscontinueHandler },
				attributes: { 'class': 'text-center text-size-80' },
				width: '1px'
			});

			window.locationsDataSource = franwell.kendo.serverDataSource({
				url: '@Url.ActionApi("GetPagedList", "LocationsApi")',
				model: franwell.gridschemas.locations
			});
			$locationsGrid.franwellGrid({
				dataSource: window.locationsDataSource,
				columns: extendedColumns,
				toolbar: toolbar
			});
			window.locationsDataSource.read();
		})();
	</script>
}