﻿@{
	ViewBag.Title = "Region Manager - Regions";
}


<div id="regions-grid"></div>


@section JS {
	<script type="text/javascript">
	    var $regionsGrid = $('#regions-grid'),

			buttonAdd = franwell.kendo.toolbarButton('Add Regions', function () {
				franwell.kendo.modalWindow(
					'Add Regions', // title
					'@Url.Action("AddEdit", "AdminRegionManagerRegions")', // partial view URL
					{ // form query
						isModal: true,
						adding: true
					},
					null, // form element selector
					'@Url.ActionApi("Create", "RegionManagerRegionsApi")', // submit URL
					$regionsGrid, // $grid
					null, // success
					null, // openHandler
					null, // requestType
					franwell.serializeFormList); // serializerFn
			}),
			buttonEdit = franwell.kendo.toolbarButton('Edit Regions', function () {
				var selectedIds = $regionsGrid.franwellGridIds('Id');

				franwell.kendo.modalWindow(
					'Edit Regions', // title
					'@Url.Action("AddEdit", "AdminRegionManagerRegions")', // partial view URL
					{ // form query
						isModal: true,
						adding: false,
						ids: selectedIds
					},
					null, // form element selector
					'@Url.ActionApi("Update", "RegionManagerRegionsApi")', // submit URL
					$regionsGrid, // $grid
					null, // success
					null, // openHandler
					null, // requestType
					franwell.serializeFormList); // serializerFn
			}),

			buttonDiscontinueHandler = function (e) {
				e.preventDefault();

				var dataItem = this.dataItem($(e.currentTarget).closest('tr'));

				if (!confirm('Are you sure you wish to discontinue "' + dataItem.RegionId + '"?')) {
					return;
				}

				franwell.submitData({
					url: '@Url.ActionApi("Archive", "RegionManagerRegionsApi")',
					data: { '': dataItem.Id },
					success: function () {
						window.regionsDataSource.read();
					}
				});
			},

			toolbar = franwell.kendo.toolbar([[
				buttonAdd,
				buttonEdit
			]]),
			
			extendedColumns = franwell.gridcolumns.regionManagerRegions.slice();


		extendedColumns.push({
			command: { text: 'Discontinue', click: buttonDiscontinueHandler },
			attributes: { 'class': 'text-center text-size-80' },
			width: '1px'
		});

		window.regionsDataSource = franwell.kendo.serverDataSource({
			url: '@Url.ActionApi("GetPagedList", "RegionManagerRegionsApi")',
			model: franwell.gridschemas.regionManagerRegions
		});
		$regionsGrid.franwellGrid({
			dataSource: window.regionsDataSource,
			columns: extendedColumns,
			toolbar: toolbar
		});
		window.regionsDataSource.read();
	</script>
}