﻿@using CargoAware.Services.LabelTemplate


@model AddEditLabelTemplatesModel


<form class="form-horizontal form-condensed" ng-controller="RepeaterCtrl">
	<table class="table table-striped table-condensed">
		<tbody>
			<tr ng-repeat="line in repeaterLines">
				<td>
					<fieldset><legend>Label Template # {{$index + 1}}</legend></fieldset>
					@if (!Model.Adding)
					{
						<div class="control-group">
							<label class="control-label">Label Template</label>
							<div class="controls">
								<select
									class="validate[required]"
									required
									ng-change="validateSelection(preload.repeaterData.LabelTemplates, $index, 'Id', 'Name', true);"
									ng-model="line.Id"
									ng-options="labelTemplate.Id as labelTemplate.Name for labelTemplate in preload.repeaterData.LabelTemplates | orderBy:'Name'">
									<option disabled="disabled" selected="selected" value="">- Select -</option>
								</select>
								<input name="model[{{$index}}][Id]" type="hidden" value="{{line.Id}}" />
							</div>
						</div>
					}
					<div class="control-group">
						<label class="control-label">Name</label>
						<div class="controls">
							<input class="validate[required]" name="model[{{$index}}][Name]" required type="text" ng-model="line.Name" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Label Type</label>
						<div class="controls">
							<select
								class="validate[required]"
								name="model[{{$index}}][Type]"
								required
								ng-model="line.Type">
								<option disabled="disabled" selected="selected" value="">- Select -</option>
								@foreach (var type in Enum.GetNames(typeof(LabelType)).OrderBy(x => x))
								{
									<option value="@type">@type</option>
								}
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Language</label>
						<div class="controls">
							<select
								class="validate[required]"
								name="model[{{$index}}][Language]"
								required
								ng-model="line.Language">
								<option disabled="disabled" selected="selected" value="">- Select -</option>
								@foreach (var language in Enum.GetNames(typeof(TemplateLanguage)).OrderBy(x => x))
								{
									<option value="@language">@language</option>
								}
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">&nbsp;</label>
						<div class="controls">
							<label class="checkbox">
								<input name="model[{{$index}}][IsActive]" type="checkbox" value="True" ng-model="line.IsActive" />
								Active
							</label>
							<span class="muted">
								Only one Label Type can be Active at a time.<br />
								Activating this one will deactivate the currently active <em>{{line.Type}}</em> label.
							</span>
						</div>
					</div>
				</td>
				<td>
					<fieldset>
						<legend class="text-right">
							<button class="btn btn-info" type="button" ng-click="removeLine($index); preload.methods.createNewControls();">
								<span class="icon-minus" ng-hide="repeaterLines.length == 1"></span>
								<span ng-show="repeaterLines.length == 1">(clear)</span>
							</button>
						</legend>
					</fieldset>
					<div class="control-group">
						<label class="control-label">Code</label>
						<div class="controls">
							<textarea class="validate[required] span10" name="model[{{$index}}][Code]" required ng-model="line.Code"></textarea>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2"><button class="btn btn-info btn-small" type="button" ng-click="addLine(); preload.methods.createNewControls();"><span class="icon-plus"></span></button></td>
			</tr>
		</tbody>
	</table>
	<div class="form-actions">
		<button class="btn btn-primary shadow" type="submit">@(Model.Adding ? "Create" : "Save") Label Templates</button>
		<button id="cancel" class="btn shadow" type="button">Cancel</button>
	</div>
</form>


<script type="text/javascript">
	(function () {
		window.preload = {
			repeaterData: JSON.parse('@Model.AsJson()'),
			methods: {
				createNewControls: function () {
				}
			}
		};

		franwell.ng.recompileDocument();
		window.preload.methods.createNewControls();
	})();
</script>