﻿@{
	ViewBag.Title = "Label Templates";
}


<div id="labeltemplates-grid"></div>


@section JS {
	<script type="text/javascript">
		var $labelTemplatesGrid = $('#labeltemplates-grid'),

			buttonAdd = franwell.kendo.toolbarButton('Add Label Templates', function () {
				franwell.kendo.modalWindow(
					'Add Label Templates', // title
					'@Url.Action("AddEdit", "AdminLabelTemplates")', // partial view URL
					{ // form query
						isModal: true,
						adding: true
					},
					null, // form element selector
					'@Url.ActionApi("Create", "LabelTemplatesApi")', // submit URL
					$labelTemplatesGrid, // $grid
					null, // success
					null, // openHandler
					null, // requestType
					franwell.serializeFormList); // serializerFn
			}),
			buttonEdit = franwell.kendo.toolbarButton('Edit Label Templates', function () {
				var selectedIds = $labelTemplatesGrid.franwellGridIds('Id');

				franwell.kendo.modalWindow(
					'Edit Label Templates', // title
					'@Url.Action("AddEdit", "AdminLabelTemplates")', // partial view URL
					{ // form query
						isModal: true,
						adding: false,
						ids: selectedIds
					},
					null, // form element selector
					'@Url.ActionApi("Update", "LabelTemplatesApi")', // submit URL
					$labelTemplatesGrid, // $grid
					null, // success
					null, // openHandler
					null, // requestType
					franwell.serializeFormList); // serializerFn
			}),

			buttonDiscontinueHandler = function (e) {
				e.preventDefault();

				var dataItem = this.dataItem($(e.currentTarget).closest('tr'));

				if (!confirm('Are you sure you wish to discontinue "' + dataItem.Name + '"?')) {
					return;
				}

				franwell.submitData({
					url: '@Url.ActionApi("Archive", "LabelTemplatesApi")',
					data: { '': dataItem.Id },
					success: function () {
						window.labelTemplatesDataSource.read();
					}
				});
			},

			toolbar = franwell.kendo.toolbar([[
				buttonAdd,
				buttonEdit
			]]),
			
			extendedColumns = franwell.gridcolumns.labelTemplates.slice();


		extendedColumns.push({
			command: { text: 'Discontinue', click: buttonDiscontinueHandler },
			attributes: { 'class': 'text-center text-size-80' },
			width: '1px'
		});

		window.labelTemplatesDataSource = franwell.kendo.serverDataSource({
			url: '@Url.ActionApi("GetPagedList", "LabelTemplatesApi")',
			model: franwell.gridschemas.labelTemplates
		});
		$labelTemplatesGrid.franwellGrid({
			dataSource: window.labelTemplatesDataSource,
			columns: extendedColumns,
			toolbar: toolbar
		});
		window.labelTemplatesDataSource.read();
	</script>
}