﻿@model LogInModel


@{
	Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
	ViewBag.Title = "Log in";
}


<div class="login-content content blackgray-gradient shadow centered span17">
	<form method="post">
		@Html.AntiForgeryToken()

		<div class="control-group span7">
			<label class="control-label" for="username">Username</label>
			<div class="controls">
				<input id="username" class="validate[required] shadow span7" name="logIn" type="text" value="@Model.LogIn" />
			</div>
		</div>

		<div class="control-group span9">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input id="password" class="validate[required] shadow span7" name="password" type="password" />
				<button id="login_button" class="btn btn-primary shadow pull-right" type="submit">Log in</button>
			</div>
		</div>
	</form>

	<div id="password-reset">
		<i class="icon-cog icon-white"></i> @Html.ActionLink("Can't access your account?", "ResetPassword", "Sessions")<br />
		<i class="icon-check icon-white"></i> @Html.ActionLink("First time users, use your private key", "FirstTimeUsers", "Sessions")
	</div>
</div>


@if (Html.IsDebug())
{
	<div>
		<table class="table table-bordered centered shadow" style="background-color: #DDD; width: auto;">
			<tbody>
				<tr>
					<td>
						<strong>Users</strong><br />
						<button id="debug_login_developer" class="btn btn-inverse btn-mini shadow" type="button">developer</button><br />
						<button id="debug_login_demo" class="btn btn-inverse btn-mini shadow" type="button">demo</button><br />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
}

@section JS
{
	<script type="text/javascript">
		$('form').franwellActivateForm();
		
		@if (Html.IsDebug())
		{
			<text>
				var $username = $('#username'),
					$password = $('#password'),
					$loginButton = $('#login_button'),

				logInWith = function (username, password) {
					$username.val(username);
					$password.val(password);
					$loginButton.click();
				};

				$('#debug_login_developer').click(function () {
					logInWith('franwell-dev', 'Cargo2014!');
				});
				$('#debug_login_demo').click(function () {
					logInWith('demo', 'Cargo2014!');
				});
			</text>
		}
	</script>
}