﻿@using StackExchange.Profiling


<!DOCTYPE html>

@* http://www.paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ *@
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=800">
	<title>@ViewBag.Title | Moli</title>

	@Html.Partial("FaviconPartial")

	<link href="~/Public/stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Public/stylesheets/bootstrap/bootstrap-overrides.css" rel="stylesheet" type="text/css" />
	<link href="~/Public/stylesheets/jquery/validationEngine.jquery.css" rel="stylesheet" type="text/css" />
	<link href="~/Public/stylesheets/site.css" rel="stylesheet" type="text/css" />
	<link href="~/Public/stylesheets/anonymous.css" rel="stylesheet" type="text/css" />

	@RenderSection("Css", false)
</head>
<body>
	<!--[if lt IE 7]><p>Your browser is <em>outdated!</em> <a href="http://whatbrowser.org/">Pleae upgrade to a newer browser</a> in order for this site to function properly.</p><![endif]-->

	@MiniProfiler.RenderIncludes(RenderPosition.Right)

	<div id="body_content" class="container-fluid">
		<header class="page-header">
			<div class="text-center">
				<a href="~/" target="_top">
					@if ((ViewBag.UseMedium == null) || (!ViewBag.UseMedium))
					{
						<img alt="Moli" title="Moli" src="~/Public/images/logo-large.png" />
					}
					else
					{
						<img alt="Moli" title="Moli" src="~/Public/images/logo-medium.png" />
					}
				</a>
			</div>
		</header>
		<div class="row">
			@Html.ValidationSummary("Something went wrong...", new { @class = "centered span16 alert alert-error" })
		</div>
		<div class="row" style="margin-left: 0;">
			@RenderBody()
		</div>
		<div id="footer_push"></div>
	</div>

	<div id="footer" class="text-center">
		<div id="footer_left"></div>
		<div id="footer_center">
			@Html.Partial("CopyrightPartial")
		</div>
		<div id="footer_right">
			@Html.Partial("AppVersionPartial")
		</div>
	</div>

	@* Scripts that don't change often. *@
	<script src="~/Public/javascripts/vendor/es5-shim.min.js" type="text/javascript"></script>
	<script src="~/Public/javascripts/vendor/consolelog.min.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
		<script src="~/Public/javascripts/vendor/jquery-1.11.0.min.js" type="text/javascript"></script>
	<![endif]-->
	<!--[if gte IE 9]><!-->
		<script src="~/Public/javascripts/vendor/jquery-2.1.0.min.js" type="text/javascript"></script>
	<!--<![endif]-->
	<script src="~/Public/javascripts/vendor/jquery.validationEngine.js" type="text/javascript"></script>
	<script src="~/Public/javascripts/vendor/jquery.validationEngine-en.js" type="text/javascript"></script>
	<script src="~/Public/javascripts/vendor/spin.min.js" type="text/javascript"></script>

	@* Our JS *@
	<script src="~/Public/javascripts/app/franwell.js" type="text/javascript"></script>

	@if (ApplicationEnvironment.IsRunningProduction)
	{
		@Html.Partial("PiwikScriptPartial");
	}

	@RenderSection("JS", false)
</body>
</html>