﻿<iframe src="@ViewBag.IFrameUrl" style="border: 0; width: 100%;"></iframe>


@section JS {
	<script type="text/javascript">
		var $iframe = $('iframe'),
			resizeIframe = function () {
				$iframe.height($iframe.contents().find("body").height() + 75);
			};

		$iframe.load(resizeIframe);
		setTimeout(resizeIframe, 500);
	</script>
}